<div class="parent-flex">
    <div class="left-child">
        <input #integerElem [ngModel]="integerInput" (ngModelChange)="integerInputChange($event)"/>
    </div>
    <div class="center-child">
        <select [ngModel]="selectedCalculation" (ngModelChange)="calculationChange($event)">
            <option *ngFor="let item of calculationList" [value]="item">{{item}}</option>
        </select>
        {{getTest()}}
    </div>
    <div class="right-child">
        {{getResult()}}
    </div>
</div>
